@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-link {
    @apply relative flex items-center justify-center 
    h-16 min-w-full mx-auto shadow-lg bg-gray-800 text-white hover:text-black font-bold text-base
    transition delay-75 hover:bg-indigo-400 duration-300
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
